* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

body {

}

.grid {
  display: grid;
  grid-template-columns: 180px 500px;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-areas:
  "title title"
  "header header"
  "sidebar sidebar"
  "about about"
  "exp exp"
  "proj proj"
  "footer footer";
  grid-gap: 10px;
  padding: 20px;
}

p {
  width: 600px;
}

.about p {
  padding: 15px;
}

ul {
  text-decoration: none;
  list-style-type: none;
}

h3 {
  text-decoration: underline;
}

h4 {
  text-decoration: underline;
  padding-bottom: 4px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #000;
    padding: 0;
}

.title {
  grid-area: title;

}

.header {
  grid-area: header;
  background-color: lightgrey;
  padding: 10px;
  font-size: 13px;
}

.sidebar {
  grid-area: sidebar;
  width: 125px;
  background-color: lightgrey;
  padding: 20px;
}

.sidebar ul {
  list-style-type: none;
}

.sidebar li {
  padding-top: 20px;
  padding-left: 15px;
  padding-bottom: 20px;
}

.sidebar a {
  diplay: block;
  padding: 14px 16px;
  text-decoration: none;
}

.liLogo
{
  width: 50px;
  height: auto;
  position: relative;
  left: 10px;
}

.gitLogo {
  width: 70px;
  height: auto;
}

.about {
  grid-area: about;
  background-color: lightgrey;
  padding: 10px;
}

.exp {
  grid-area: exp;
  background-color: lightgrey;
  padding: 10px;
}

.proj {
  grid-area: proj;
  background-color: lightgrey;
  padding: 10px;
}

.footer {
  grid-area: footer;
  background-color: lightgrey;
  padding: 30px;
  text-align: center;
  font-size: 10px;
}


@media screen and (min-width: 736px) {
  .grid {
    display: grid;
    padding: 0;
    grid-template-columns: 1fr 180px 820px 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas:
    ". title title ."
    ". header header ."
    ". sidebar about ."
    ". exp exp ."
    ". proj proj ."
    ". footer footer .";
  }
}
